@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Yeon Sung', cursive;
    max-width: 588px;
}

h1 {
    font-size: 60px;        
    text-align: center;
}

.chat-message-text {
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 auto;
    max-width: 588px;
}

button {
    text-align: center;
    padding: 20px 10px 20px 10px;
    font-size: 100px;
    margin: 20px;
    margin-top: 35px;
    margin-right: 45px;
    margin-left: 45px;
}

.btn-secondary {
    text-align:right;
    font-size: 20px;
    margin: 20px;
}