@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Do+Hyeon&family=Yeon+Sung&display=swap');

body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Do Hyeon', cursive;
    max-width: 40%;
}

h1 {
    font-size: 60px;        
    text-align: center;
}

.chat-message-text {
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 auto;
    max-width: 500px;
}

button {
    text-align: center;
    padding: 20px 10px 20px 10px;
    font-size: 100px;
    margin: 1%;
    margin-right: 7%;
    margin-left: 10%;
}

.img {
    margin-left: 25px;
    margin-top: 25px;
    text-align: center;
}

.btn-secondary {
    position: fixed;
    right: 350px;
    top: 80px;
    font-size: 20px;
    margin: 20px;

}