<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빨래 좀 잘 빼라</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <link rel="stylesheet" href="/static/style.css">
    <h1 class="fw-bold">🫧DGIST🫧<p>세탁 관리 서비스</p></h1>
    <form method="post"> 
        <button type="sumbit" class="btn btn-secondary">로그인</button>
    </form>
    <div class="chat-box">
        <p class="chat-message-text">{{chat[-1][0]}} {{chat[-1][1]}} {{chat[-1][2]}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <img class="img" id="wash1" src="https://cdn-icons-png.flaticon.com/512/2094/2094251.png" width="160px">
    <img class="img" id="wash2" src="https://cdn-icons-png.flaticon.com/512/2094/2094251.png" width="160px">
    <img class="img" id="wash3" src="https://cdn-icons-png.flaticon.com/512/2094/2094251.png" width="160px">
    <button type="button" id="wash1" onclick="location.href='/chat?lnum=0'" class="btn btn-outline-primary">1번 세탁기<br>{{lundata[0]}}</button>
    <button type="button" id="wash2" onclick="location.href='/chat?lnum=1'" class="btn btn-outline-primary">2번 세탁기<br>{{lundata[1]}}</button>
    <button type="button" id="wash3" onclick="location.href='/chat?lnum=2'" class="btn btn-outline-primary">3번 세탁기<br>{{lundata[2]}}</button>
    <img class="img" id="wash4" src="https://cdn-icons-png.flaticon.com/512/2094/2094251.png" width="160px">
    <img class="img" id="wash5" src="https://cdn-icons-png.flaticon.com/512/2094/2094251.png" width="160px">
    <img class="img" id="wash6" src="https://cdn-icons-png.flaticon.com/512/2094/2094251.png" width="160px">
    <button type="button" id="wash4" onclick="location.href='/chat?lnum=3'" class="btn btn-outline-primary">4번 세탁기<br>{{lundata[3]}}</button>
    <button type="button" id="wash5" onclick="location.href='/chat?lnum=4'" class="btn btn-outline-primary">5번 세탁기<br>{{lundata[4]}}</button>
    <button type="button" id="wash6" onclick="location.href='/chat?lnum=5'" class="btn btn-outline-primary">6번 세탁기<br>{{lundata[5]}}</button>
    <img class="img" id="dry1" src="https://cdn-icons-png.flaticon.com/512/2432/2432216.png" width="160px">
    <img class="img" id="dry2" src="https://cdn-icons-png.flaticon.com/512/2432/2432216.png" width="160px">
    <img class="img" id="dry3" src="https://cdn-icons-png.flaticon.com/512/2432/2432216.png" width="160px">
    <button type="button" id="dry1" onclick="location.href='/chat?lnum=6'" class="btn btn-outline-primary">1번 건조기<br>{{lundata[6]}}</button>
    <button type="button" id="dry2" onclick="location.href='/chat?lnum=7'" class="btn btn-outline-primary">2번 건조기<br>{{lundata[7]}}</button>
    <button type="button" id="dry3" onclick="location.href='/chat?lnum=8'" class="btn btn-outline-primary">3번 건조기<br>{{lundata[8]}}</button>
    <img class="img" id="dry4" src="https://cdn-icons-png.flaticon.com/512/2432/2432216.png" width="160px">
    <img class="img" id="dry5" src="https://cdn-icons-png.flaticon.com/512/2432/2432216.png" width="160px">
    <img class="img" id="dry6" src="https://cdn-icons-png.flaticon.com/512/2432/2432216.png" width="160px">
    <button type="button" id="dry4" onclick="location.href='/chat?lnum=9'" class="btn btn-outline-primary">4번 건조기<br>{{lundata[9]}}</button>
    <button type="button" id="dry5" onclick="location.href='/chat?lnum=10'" class="btn btn-outline-primary">5번 건조기<br>{{lundata[10]}}</button>
    <button type="button" id="dry6" onclick="location.href='/chat?lnum=11'" class="btn btn-outline-primary">6번 건조기<br>{{lundata[11]}}</button>
</body>
</html>